<!DOCTYPE html>
<html>
    <head>
        {% block title %}<title>My CRM</title>{% endblock title %}
        <meta charset = 'utf-8'>
        <meta name = 'viewport' content = 'width=device-width, initial-scale=1'>
        <link rel = 'stylesheet' href = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
        <script src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
        <script src = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>

        {% load static %}
        {% comment %} <link rel = 'stylesheet' href = "{% static 'customerservice/styles.css'%} "> {% endcomment %}
        <link rel = 'stylesheet' href = "{% static 'styles.css'%} ">
    </head>
<body>

{% comment %} <h1>Welcome</h1> {% endcomment %}


<div class = 'container-fluid'>
    <div class = 'row'>
        <div class = 'col-sm-2'>
            {% block sidebar %}
            <ul>
                <li><a href = '/admin/'>Admin Page</a></li>
                {% comment %} <li><a href = "{% url 'customers' %}">All Customers</a></li> {% endcomment %}
                {% comment %} <li><a href = "customers/">All Customers</a></li> {% endcomment %}
                
                <li><a href = "">All Services</a></li>
            </ul>
            {% endblock sidebar %}
        </div>
        <div class = 'col-sm-10'>
            {% block content %}{% endblock content %}
        </div>
    </div>
</div>
</body>
</html>