{% extends 'base.html' %}


{% block content %}
<h1>لیست مشتریان:</h1>
<a href = "{% url 'customerservice:customer_create' %}" >افزودن مشترک</a>
<a href = "{% url 'customerservice:agent_create' %}" >افزودن نماینده</a>
{%if customer_list%}
<ul>
    {% for x in customer_list%}
    {% comment %} <li>Name of Customer:{{x.name}}</li> {% endcomment %}
    <li>
        {% comment %} <p> Customersss</p> {% endcomment %}
        <a href = "{{x.get_absolute_url }}">{{x.commercialname}}</a>({{x.brand}})
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No Customer!</p>
{% endif %}
{% endblock %}