{% extends 'base.html' %}


{% block content %}
<h1>اطلاعات کامل مشتریان:</h1>
{%if customer %}
<ul>
    <li>
        <p>{{customer.brand }}</p>
    </li>
    {% for x in agent %}
    <li>
        <p>{{x.name }}</p>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>هنوز مشتری ای تعریف نشده است!</p>
{% endif %}
<a href = "{% url 'customerservice:customer_agent_edit' pk=customer.pk %}" >ویرایش اطلاعات مشتری</a>
{% comment %} <a href = "customer/(?P<pk>[0-9]+)/agents/edit/" >ویرایش اطلاعات مشتری</a> {% endcomment %}
{% comment %} <a href = "{{x.get_absolute_url }}" >ویرایش اطلاعات مشتری</a> {% endcomment %}
{% endblock %}